#gallery {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  padding: 0cm;
}

.gallery-item {
  max-width: 100%;
  border-radius: 10px;
}
#gallery li {
  margin: 7px;
}
#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}
#boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-start;
  align-items: center;
}
